
h1 {
    font-family: fantasy;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background: linear-gradient(to right, #7780e2,white);
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); 
    text-align: center; 
}
body {
    background: linear-gradient(to right, #9198e5,white);
}
.card {
    background: linear-gradient(to right, #7780e2,white);
}
.center {
    text-align: center;
}
/* Style the header */
header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    color: black;
  }
  
  /* Create two columns/boxes that floats next to each other */
  nav {
    float: center;
    padding: 20px;
  }
  
  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }